.container {
  width: 100%;
  height: 100%;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  background-color: #FFD9F9;
}

.headerTitle {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
}

.icon-btn {
  cursor: pointer;
  font-size: 18px;
}

.chartContainer {
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chartWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 2px;
 
  margin-right:10px ;
}

.legendItem {
  display: flex;
  align-items: center;
  padding: 0px;
  min-inline-size: 120px;
 
  
 
}

.legendColor {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
