.campaign-performance-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}


.Campaign-header {
  background: #EDD8D8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 99.4%;
  border-radius: 8px 8px 0 0;

}
.Campaign-header span {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.close-button button {
  background: none;
  border: none;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  padding: 5px;
}

.campcard-body {
  padding: 5px;
  position: relative;
 
  
}

.bar-chart canvas {
 
  width: 100% !important;
  height: 250PX !important;
  margin-bottom: 2px;
  align-items: end;
}

.label-ad-clicks {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
