.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: transparent;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.container {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  margin-top: 8rem;
  margin-left: -8rem;
}

.card {
  background: linear-gradient(90deg, #6C00FF, #D700B2);
  color: white;
  padding: 2rem;
  border-radius: 8px 8px 0 0;
}

.heading {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.3;
}

.button {
  margin-top: 1.5rem;
  background-color: white;
  color: #6C00FF;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.imageContainer {
  width: 100%;
  height: 200px;
  background-color: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.footerButtons {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 1rem;
}

.footerButton {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  background-color: #F3F4F6;
  color: #374151;
  cursor: pointer;
  font-size: 1rem;
}

.submitButton {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  background-color: #6C00FF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: 1rem;
  height: 5px;
}

.progressBarContainer {
  margin-left: -24rem;
  padding: 0;
  width: 101px;
  margin-top: 1rem;
}