/* UploadImage.module.css */

/* Main container styles */
.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Optionally add padding for the container */
  height: 80%; /* Ensure the container spans the full height */
  width: 40%; /* Ensure the container spans the full width */
  background-color: transparent; /* Set background to transparent */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Light border with transparency */
  border-radius: 8px; /* Optional: add rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  margin-top: 7rem; /* Optional: add some space from the top */
  margin-left: -30rem; /* Optional: add some space from the left */
  margin-bottom: 20px; /* Optional: add some space from the bottom */
  margin-right: 10px;
}

.uploadArea {
  display: flex;
  align-items: center;
  width: 100%;
}

.dottedRectangle {
  border: 2px dotted #000000;
  width: 1050px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make input invisible while keeping it clickable */
  cursor: pointer;
}

.instructionText {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.resolutionText {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; /* Add space between the rectangle and buttons */
  gap: 8px; /* Add space between the buttons */
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: 1rem;
  height: 5px;
}

.progressBarContainer {
  margin-left: -15rem;
  padding: 0;
  width: 101px;
  margin-top: 1rem;
}

.nextButton {
  padding: 0.5rem 1rem;
  background-color: #3182ce;
  color: white;
  font-weight: 600;
  border-radius: 0.375rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.nextButton:hover {
  background-color: #3182ce;
}

.nextButtonArrow {
  margin-left: 0.5rem;
}

.previewButton {
  padding: 0.5rem 1rem;
  background-color: #cccfd3;
  color: rgb(5, 41, 173);
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
}

.previewButton:hover {
  background-color:#a9b5c1;
}

.previewButtonArrow {
  margin-right: 0.5rem;
}