.dashboardWrapper {
  width: 100%;
  min-height: 100vh;
  /* background-color: #f5f5f5; */
}

.dashHeader {
  width: 100%;
/*  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.dashboardContainer {
  padding: 2px;
  margin-left: -18px !important;
  max-width: 1600px;
}

.layout {
  width: 98%;
  margin: 0 auto;
}

.gridItem {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlighted {
  
  background-color: rgba(74, 144, 226, 0.1);
}
