.container {
  display: flex;
  flex-direction: row;
  height: 300vh;
}

.leftPanel {
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.brand {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.image {
  max-width: 90%;
  height: auto;
}

.rightPanel {
  flex: 1;
  background: linear-gradient(135deg, #f4f9ff, #fff3e4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2a2a2a;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.resetButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resetButton:hover {
  background-color: #2563eb;
}

.backButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  border-radius: 5px;
  cursor: pointer;
}

.backButton:hover {
  background-color: #3b82f6;
  color: #fff;
}
