version: "3.9"

services:
  backend:
    build: ./backend
    container_name: fastleads-backend
    ports:
      - "8007:8007"
    restart: always

  frontend:
    build: ./frontend
    container_name: fastleads-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
