.container {
  /* background: linear-gradient(to bottom, #e7f0ff, #f8f9fe); */
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  padding: 9px;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #EAEFE0;
}

.icon {
  margin-right: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.totalLeadsSection {
  width: 50%;
  
}
.total{
  width: 100%;
  display: flex;
  padding: 6px;
}

.totalLeadsNumber {
  font-size: 36px;
  font-weight: bold;
  margin-left: 29%;
  margin-top: 10px;
  color: #2b52ff;
}

.socialMediaBar {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.socialMediaBar span {
  flex: 1;
  height: 3px;
  
  background: #0077B7;
  border-radius: 2px;
}
.instagrambar{
  background: #e1306c !important;
}
.linkedin {
  background: #0077b5;
}

.facebook {
  background: #4267b2;
}

.instagram {
  background: #e1306c;
}

.twitter {
  background: #1da1f2;
}

.socialMediaStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.statBox {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 5px;
 
}

.statBox span {
  display: block;
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 0px;
}

.statNumber {
  font-size: 24px;
  font-weight: bold;
  color: #3b83ba;
}

.danger {
  color: #e1306c;
}

.graphSection {
  width: 45%;
  
}

.graph {
 
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  height: 70%;
  padding: 10px;
  
  position: relative;
}
.canvas {
  width: 300px;
  height: 100%;
}

.graphLabel {
  position: absolute;
  bottom: 10px;
  right: 10px;
 
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlightNumber {
  font-size: 20px;
  font-weight: bold;
  color: #2b52ff;
}
