.container {
  display: flex;
  width: 100%;
  gap: 10px;
  
  
}

.hashCard {
  background: linear-gradient(to right, #D4CCFB, #C5D2FD);
  border-radius: 15px;
  width: 40%;
  padding: 10px;
  display: flex;
  margin: 10px 0 0px 0px;
  min-height: 100%;
  transition: transform 0.3s ease;
  font-family: Arial, sans-serif; /* Added for consistent typography */
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  width: 90%;
  padding-left: 23px;
  height: 100%;
  position: relative; /* Add this */
}

.emptyBar {
  background-color: #97A6C6;
  border-radius: 30px;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: start;
  margin: 10 ;

}


.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  display: flex;
  align-items: start;
  gap: 8px;
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: transparent;
  color: white;
}

.active {
  background-color: #2915F9;
  color: white;
}


.content {
  flex: 1;
 

  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.section {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.section:last-child {
  border-bottom: none;
}
      .hashtag {
    color: blue;
    font-weight: 500;
    margin-right: 5px;
    display: inline-block;
}
  .tagItem {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 5px 12px;
      border-radius: 15px;
      font-size: 14px;
      color: white;
      display: inline-flex;
      align-items: center;
      margin: 2px;
  }

  .navigationButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  

  .navButton:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
 
.navbar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 15px;
  background-color: #EAE8FE;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 1px solid #e9ecef;
}

.navbar h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timestamp {
  color: #666;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: 32px;
}


.hashtagContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.hashtagHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hashtagContent {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}
