.dashboardContainer {
  background: transparent;
  padding: 15px;
  min-height: 100vh;
  width: 990%;
  max-width: 1280px;
  margin-left: 1rem;
  
}

/* Header Section */
.headerSection {
  background: transparent;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  border: 1px solid rgba(229, 231, 235, 0.5);
  margin-top: 1rem;
  display: flex; /* Makes it a flex container */
  justify-content: space-between; /* Ensures space between title and button */
  align-items: center; /* Aligns items vertically in the center */
}
.dropdown {
  margin: 0 05px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.headerTitle {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  margin: 0;
}
.closeButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
}


/* Input Section */
.inputSection {
  margin: 20px 0;
}

.inputSection label {
  margin-right: 10px;
}

.input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
}

.button {
  padding: 5px 10px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:0.2rem;
}

.button:hover {
  background-color: #2563eb;
}

/* Graph Section */
.graphSection {
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: 1px solid rgba(229, 231, 235, 0.5);
  border-radius: 0 0 12px 12px;
  margin-bottom: 20px;
}

.chartsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.chartTitle{
  background-color: transparent;
}

.chartWrapper {
  flex: 1;
  min-height: 300px;
  max-width: 48%;
  background: transparent;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Collapsible Sections */
.alertSection,
.recommendationsSection {
  background: transparent;
  margin-top: 20px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.alertTitle,
.recommendationsTitle {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.alertList,
.recommendationsList {
  margin-top: 10px;
  padding-left: 20px;
}

.alertCard,
.recommendationCard {
  background: transparent;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(229, 231, 235, 0.5);
  margin-bottom: 10px;
}

.campaignList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rankBadge {
  background-color: transparent;
  color: rgb(31, 29, 29);
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
}

.campaignCard {
  background: transparent;
  border: 1px solid rgba(229, 231, 235, 0.5);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(60, 58, 58, 0.1);
}

.alertTitle:hover,
.recommendationsTitle:hover {
  color: #0a0a0a;
}