.container {
  background: linear-gradient(to right, #B9C7FD, #E5EEDC);
  padding: 10px;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  
}

.card {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.topBar {
  background: #C1EBF8;
  padding: 16px;
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #BAC6BA;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  font-size: 24px;
  color: black;
}

.closeIcon {
  font-size: 24px;
  color: #6c757d;
  cursor: pointer;
  transition: color 0.2s ease;
}

.closeIcon:hover {
  color: #343a40;
}

.topheading {
  color: black;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  margin: 0;
}

.content {
  padding: 20px;
  height: 300px;
  background: linear-gradient(to right, #DADFFD, #E5EEDC);
}

.cardheading {
  color: #343a40;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  margin-bottom: 24px;
  text-align: center;
}

.chartsContainer {
  display: flex;
  gap: 32px;
  height: 200px;
  margin: 20px 0;
}

.pieChartContainer,
.barChartContainer {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.pieChartContainer {
  flex: 1;
  min-width: 400px;
}

.barChartContainer {
  flex: 2;
  min-width: 600px;
}

@media (max-width: 768px) {
  .chartsContainer {
    flex-direction: column;
    height: auto;
  }

  .pieChartContainer,
  .barChartContainer {
    width: 100%;
    min-width: unset;
    height: 300px;
  }
}
