
 .card {
  /* background: linear-gradient(180deg, #f0f8ff 0%, #dfefff 100%); */
  border-radius: 12px;
  
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  background: #C1EBF8;
}

.title { 
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.expandButton {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartContainer {
  width: 100%;
 padding: 15px;
  height: 200px;
 
}

.legend {
  width: 100%;
  margin-left: 200px;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 14px;

 
  color: #030202;
  margin-bottom: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.highPriority {
  background-color: #00C7BE;
}

.messages {
  background-color: #F6E18E;
}
